{{#each (-take 10 docs)}}
<article>
  <a class="index-article-title" href="{{{this.uri}}}">
    <h4>{{{this.title}}}</h4>
    <p>{{{_summary this.contentsWithoutLayouts}}} <a class="btn btn-default small" href="{{{this.uri}}}">Read more &raquo;</a></p>
  </a>
</article>
{{/each}}