<!DOCTYPE html>
<html>
<head>
  {{! Meta }}
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="/modernizr/modernizr.js"></script>
  <script type="text/javascript" src="/jquery/dist/js/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
{{{contents}}}
</body>
</html>